<p> Hello! Let me tell you a bit about myself and how I came to start coding.</p>

<p> I studied Business at the University of Colorado, Boulder, before realizing that I was just going through the motions of life. I decided to break free from the mold of what I thought my life should be and start exploring what I wanted it to be!</p>

<p> Now I obviously figured that the best way to start exploring what I wanted from life was to literally explore! As soon as I finished college, I jetted away to Europe where I went on a solo backpack trip around the continent. I saw many beautiful sights and made some interesting friends, but the biggest thing I learned from that trip was I wanted my life to continue to be new and exciting.</p>

<p>Of course, not every day is going to be a trip to Europe, but I can still find excitement in the everyday! To that end, I explored several interesting jobs (including being a Doggy Dentist!) before realizing that what excited me was challenging myself and learning every day. </p>
<p>
  I had always been interested in computer programming, but I thought I had missed my shot at trying to learn. Fortunately for me, while I was off exploring my cousin was tackling the Skill Distillery Bootcamp and absolutely loving it. Her positive experience with the program encouraged me to take the leap into trying it myself! The program was hard, I was learning at a far more furious pace than I ever had before, but I loved every minute of it. I would come home exhuasted from trying to learn a new technology but never beaten! I dedicated four months of my life to learning to code, and I am proud to say that it paid off! I have finished the program, and now I am looking for my first developer job.
</p>
<p>
  Thank you for taking the time to learn a bit about me, and I hope you enjoy my site!
</p>
